<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
    <div layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Country Form</h5>

                <!-- Multi Columns Form -->
                <form class="row g-3" th:action ="@{'/countries/update/'+${country.id}}" method = "put">
                    <div class="col-md-6">
                        <label  class="form-label">Description</label>
                        <input type="text" class="form-control" name=" description" th:value="${country.desciption}">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Capital</label>
                        <input type="text" class="form-control" name="capital" th:value="${country.capital}">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Nationality</label>
                        <input type="text" class="form-control" name="nationality" th:value="${country.nationality}">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Continent</label>
                        <input type="text" class="form-control" name="continent" th:value="${country.continent}">
                    </div>
                    <div class="col-md-6">
                        <label  class="form-label">Country Code </label>
                        <input type="text" class="form-control" name="code" th:value="${country.code}">
                    </div>



                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form><!-- End Multi Columns Form -->

            </div>
        </div>

    </div>

</body>
</html>